from utils.general_consts import *
from tasks.confidential_computing_tasks.encryption_type import EncryptionType, EncryptionMode

# ======= Scanner Parameters =======
main_program_to_scan = ProgramToScan.BASELINE_MEASUREMENT
background_programs_types = []  # For example: [ProgramToScan.PythonServer]

kill_background_process_when_main_finished = True
summary_type = SummaryType.NATIVE

process_monitor_type = ProcessMonitorType.FULL
battery_monitor_type = BatteryMonitorType.FULL

power_plan = PowerPlan.BALANCED
scan_option = ScanMode.ONE_SCAN

RUNNING_TIME = 10 * MINUTE # insert time (e.g. 0.5 * MINUTE) or None in case you want to wait until process ends in ONE_SCAN mode

SLEEP_BETWEEN_ITERATIONS_SECONDS = 2

MINIMUM_DELTA_CAPACITY = 200     # in mWh

measurement_number = NEW_MEASUREMENT    # write number between 1->inf or type NEW_MEASUREMENT

screen_brightness_level = 75    # A number between 0 and 100

# return to default settings (can be costumed)
DEFAULT_SCREEN_TURNS_OFF_TIME = 4
DEFAULT_TIME_BEFORE_SLEEP_MODE = 4

is_inside_container = False

# ==== Elastic logging configuration
elastic_url = "http://127.0.0.1:9200"
elastic_username = "elastic"
elastic_password = "your-password"


# ***** Parameters for Confidential Computing Tasks ***** #
messages_to_encrypt_file = r"C:\Users\Administrator\Desktop\messages.txt"
results_file_for_encryption = r"C:\Users\Administrator\Desktop\pycrypto_rsa_encryption_results.bin"

messages_to_decrypt_file = results_file_for_encryption
results_file_for_decryption = r"path-to-save-decrypted-results"

security_algorithm_type = EncryptionType.PycryptoRSA
block_cipher_mode = None #EncryptionMode.CBC
algorithm_key_file = r"path-to-save-algorithm-key"

min_key_value = 2 ** 2047 - 1
max_key_value = 2 ** 2048 - 1
